/*Banner principal*/
.contBanner {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 10px;
  width: 100%;
  overflow: hidden;
  padding: 0px;
  position: relative;
  z-index: 1;
}

.contBanner .btnPrev, .contBanner .btnNext, .contBanner .contPager {
  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 4;
}

.contBanner .btnPrev, .contBanner .btnNext {
  top: 50%;
  height: 21px;
  width: 13px;
  margin-top: -10.5px;
  background: url(../../assets/img/icoArrows.png) no-repeat;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.contBanner .btnPrev {
  left: 40px;
  background-position: 0px center;
}

.contBanner .btnNext {
  right: 40px;
  background-position: -14px center;
}

.contBanner .btnPrev:hover, .contBanner .btnNext:hover {
  opacity: 0.75;
}

.contBanner .btnPrev:active, .contBanner .btnNext:active {
  margin-top: -8.5px;
}

.contBanner .contPager {
  bottom: 20px;
  right: 35px;
  height: auto;
  line-height: 0rem;
}
