/*Encabezado*/
.pageHeader {
  display: block;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 20;
  background: #FFF;
}

.pageHeader .headerTop {
  //display:block;
  display: inline-block;
  //width:100%;--> replace large-12
  //max-width:960px--> replace large-12 ;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 20px 0px 0px;
}

.pageHeader .headerTop h1 {
  float: left;
}

.pageHeader .headerTop h1 a {
  display: block;
  text-align: left;
  text-indent: -9999px;
  width: 355px;
  height: 62px;
  background: url(../../assets/img/logo-banco.png) no-repeat left center;
}

.pageHeader .headerTop .cRight {
  //float:right;-->repalced;
  //padding-top:15px-->repalced;
}

.pageHeader .headerTop .cRight form, .pageHeader .headerTop .socialNetworks, .pageHeader .headerTop .socialNetworks li {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}

.pageHeader .headerTop .cRight form {
  //margin:0px 0px 0px 15px --> replace;
  position: relative;
}

.pageHeader .headerTop .cRight form input[type="text"] {
  display: block;
  //width: 194px --> large-9;
  box-sizing: border-box;
  padding: 5px 30px 5px 10px;
  font-style: italic;
  color: #666666;
  border: 1px solid #C8C8C8;
  border-radius: 0px;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.06rem;
  outline: none;
  height: 1.4375rem !important;
}

.pageHeader .headerTop .cRight form .btnSearch {
  display: block;
  width: 30px;
  text-align: left;
  text-indent: -9999px;
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: url(../../assets/img/ico_search.png) no-repeat center transparent;
  transition: opacity 0.5s ease;
  border: none;
  outline: none;
}

.pageHeader .headerTop .cRight form .btnSearch:hover {
  opacity: 0.75;
}

.pageHeader .headerTop .socialNetworks {
  border-right: 1px solid #E1E1E1;
  padding: 2px 15px;
  font-size: 0rem;
  line-height: 0rem;
}

.pageHeader .headerTop .socialNetworks li {
  margin: 0px 2px;
}

.pageHeader .headerTop .socialNetworks li a {
  display: block;
  width: 23px;
  height: 23px;
  text-align: left;
  text-indent: -9999px;
  background: url(../../assets/img/socialNetworks.png) no-repeat;
  transition: opacity 0.5s ease;
  position: relative;
}

.pageHeader .headerTop .socialNetworks li a.facebook {
  background-position: 0px 0px;
}

.pageHeader .headerTop .socialNetworks li a.twitter {
  background-position: -27px 0px;
}

.pageHeader .headerTop .socialNetworks li a.youtube {
  background-position: -55px 0px;
}

.pageHeader .headerTop .socialNetworks li a:hover {
  opacity: 0.75;
}

.pageHeader .headerTop .socialNetworks li a:active {
  top: 3px;
}
