.cBiblio {
  .contSHome {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: #FFF;
  }
  .contSHome > h2 {
    display: block;
    margin: 0px;
    text-align: center;
    font-family: "Droid Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    line-height: 1rem;
    color: #333;
    letter-spacing: 0.04rem;
    padding: 18px 20px;
    height: 50px;
    box-sizing: border-box;
  }
  .sMemories {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-size: 0rem;
  }
  .sMemories * {
    white-space: normal;
  }
  .sMemories article {
    display: inline-block;
    vertical-align: top;
    max-width: 320px;
    font-size: 0.94rem;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 320px;
    overflow: hidden;
  }
  .sMemories article > div {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .sMemories article .typeM, .sMemories article .typeM span, .sMemories article figure {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .sMemories article .typeM {
    z-index: 3;
    color: #FFF;
    padding: 5px 0px 5px 10px;
    width: 100px;
    box-sizing: border-box;
    font-size: 0.65rem;
    line-height: 0.8rem;
  }
  .sMemories article .typeM span {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    transition: opacity 0.5s ease;
  }
  .sMemories article:hover .typeM span {
    opacity: 0;
  }
  .sMemories article .typeM img, .sMemories article .typeM strong {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    z-index: 3;
    position: relative;
  }
  .sMemories article .typeM img {
    max-width: 23px;
  }
  .sMemories article .typeM strong {
    margin-left: 5px;
    width: 55px;
  }
  .sMemories article figure {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0
  }
  .sMemories article figure img {
    display: none;
  }
  .sMemories article header {
    display: block;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 65px 25px 80px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
  }
  .sMemories article:hover header {
    visibility: visible;
    opacity: 1;
  }
  .sMemories article header time {
    display: block;
    margin: 0px 0px 7px;
    font-weight: 400;
    letter-spacing: 0.06rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .sMemories article header h2 {
    font-family: "Droid Serif", serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.45rem;
    margin: 0px 0px 10px;
  }
  .sMemories article header p {
    font-size: 0.83rem;
    line-height: 1rem;
    margin: 0px;
  }
  .sMemories article header ul {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 25px;
  }
  .sMemories article header ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    margin: 0px 10px 0px 0px;
  }
  .sMemories article header .btnPlay, .sMemories article header .btnMore {
    display: block;
    border: none;
    background: none;
    outline: none;
    color: #FFF;
    text-align: left;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 0.8rem;
    letter-spacing: 0.03rem;
    cursor: pointer;
    position: relative;
    padding: 10px 10px 10px 65px;
  }
  .sMemories article header .btnPlay::before, .sMemories article header .btnMore::before {
    content: '';
    display: block;
    width: 52px;
    height: 50px;
    background: url(/assets/img/icoPM.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 0px;
    margin: -25px 0px 0px 0px;
  }
  .sMemories article header .btnPlay::before {
    background-position: 0px center;
  }
  .sMemories article header .btnMore::before {
    background-position: -53px center;
  }
  .sMemories article header .btnPlay:active, .sMemories article header .btnMore:active {
    top: 3px;
  }
  .contSHome .btnPrev, .contSHome .btnNext {
    display: block;
    width: 50px;
    height: 50px;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 0px;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    background: none;
    user-select: none;
  }
  .contSHome .btnPrev {
    left: 0px;
  }
  .contSHome .btnNext {
    right: 0px;
  }
  .contSHome .btnPrev:active, .contSHome .btnNext:active {
    box-shadow: 0px 0px 1px 1px #D9D9D9 inset;
  }
  .contSHome .btnPrev::before, .contSHome .btnNext::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0px 0px -3.5px;
  }
  .contSHome .btnPrev::before {
    border-left: none;
    border-right: 7px solid #666666;
  }
  .contSHome .btnNext::before {
    border-right: none;
    border-left: 7px solid #666666;
  }

}
.info{
  background-color: #fff;
  padding: 18px 20px;
  display: block;
  h2 {
    font-family: "Droid Serif", serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    color: #333;
    letter-spacing: 0.04rem;
  }
  p.desc{
      color: #333;
      font-size: 0.8rem;
      line-height: 1.2rem;
      font-family: Roboto, sans-serif;
    }
.time{
  z-index: 3;
  color: #FFF;
  padding: 5px 0 5px 10px;
  width: 100px;
  box-sizing: border-box;
  font-size: .65rem;
  line-height: .8rem;
}
}
.noticia{
  position: relative;

.news-img{
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 225px;
}
.fecha{
  display: block;
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: #FFF;
  padding: 9px 14px 7px;
  top: 0px;
  left: 15px;
  background: #A5B63E;
  z-index: 2;
  letter-spacing: 0.03rem;
  position: absolute;
}
}
