.sliderBig, .sliderBig article {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.sliderBig {
  z-index: 1;
}

.sliderBig article figure, .sliderBig article figure::before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.sliderBig article figure {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.sliderBig article figure::before {
  content: '';
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 91%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 91%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 91%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.sliderBig article figure img {
  display: none;
}

.sliderBig article header {
  display: table;
  width: 100%;
  height: 300px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 5;
  color: #FFF;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.2rem;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.06rem;
}

.sliderBig article header > div {
  display: table-cell;
  vertical-align: bottom;
  padding: 20px 35% 20px 10.41%;
}

.sliderBig article header h2 {
  color: #FFF;
  margin: 0px 0px 5px;
  font-family: "Droid Serif", serif;
  font-weight: 400;
  line-height: 1.4rem;
  font-style: italic;
  font-size: 1.16rem;
}

.sliderBig article header p {
  margin: 0px 0px 10px;
}

.sliderBig article .btnMore {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-family: "Droid Serif", serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1rem;
  font-size: 0.7rem;
  padding: 4px 15px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
}

.sliderBig article .btnMore:active {
  top: 3px;
}


.gSlider75 article figure, .gSlider75 article header {
  display: inline-block;
  vertical-align: top;
  height: 225px;
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.gSlider75 article figure {
  width: 48.38%;
}

.gSlider75 article header {
  box-sizing: border-box;
  padding: 35px 30px 0px 40px;
  width: 51.61%;
  margin: 0px;
  overflow: hidden;
}

.gCarousel article figure:hover, .gSlider75 article figure:hover {
  opacity: 0.8;
}

.gCarousel article figure a, .gSlider75 article figure a {
  display: block;
  width: 100%;
  height: 100%;
}

.gCarousel article figure img, .gSlider75 article figure img {
  display: none;
}

.gCarousel article header {
  background: #FFF;
  width: 100%;
  box-sizing: border-box;
  padding: 22px 20px 25px;
}

.gEvents .gCarousel article header {
  background: rgba(0, 0, 0, 0.05);
}

.gCarousel article header .cate, .gSlider75 article header .cate {
  display: block;
  margin: 0px 0px 3px;
  padding: 0px;
  color: #666;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9rem;
  letter-spacing: 0.08rem;
}

.gCarousel article header h2, .gSlider75 article header h2 {
  color: #333333;
  font-weight: 700;
  font-style: italic;
  font-family: "Droid Serif", serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 0px 0px 5px;
}

.gCarousel article header h2 a, .gSlider75 article header h2 a {
  color: inherit;
  transition: opacity 0.5s ease;
}

.gCarousel article header h2 a:hover, .gSlider75 article header h2 a:hover {
  opacity: 0.75;
}

.gCarousel article header .desc, .gSlider75 article header .desc {
  margin: 10px 0px 0px;
  padding: 0px;
}

.gCarousel article .date, .gSlider75 article .date {
  display: block;
  position: absolute;
  left: 0px;
  padding: 8px 13px;
  font-weight: 400;
  letter-spacing: 0.06rem;
  font-size: 0.75rem;
  line-height: 1rem;
  background: #7D7D7D;
  color: #FFF;
  z-index: 5;
}

.gCarousel article .date {
  top: 0px;
}

.gSlider75 article .date {
  bottom: 0px;
}

.gCarousel article .subInfo, .gSlider75 article .subInfo {
  display: block;
  padding: 0px;
  color: #999;
  font-size: 0.73rem;
  line-height: 1rem;
  margin: 0px;
}

/*Slider3x1*/

.orbit{

 .orbit-previous.custom{
    display: block;
    width: 50px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    background: none;
    color: #000;
 }
  .orbit-next.custom{
    display: block;
    width: 50px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    background: none;
    color: #000;
  }
  .orbit-wrapper-controls{

  }



}


/*Slider3x1*/
