@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9158911');
  src: url('../font/fontello.eot?9158911#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?9158911') format('woff2'),
       url('../font/fontello.woff?9158911') format('woff'),
       url('../font/fontello.ttf?9158911') format('truetype'),
       url('../font/fontello.svg?9158911#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9158911#fontello') format('svg');
  }
}
*/


 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  margin-right: 3px;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 10px;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 3px;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 

.icon-cometa:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-brujula:before { content: '\e802'; } /* '' */
.icon-noticias:before { content: '\e803'; } /* '' */
.icon-correo:before { content: '\e804'; } /* '' */
.icon-socio:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-catalogo:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-right-open-big:before { content: '\e80a'; } /* '' */
.icon-left-open-big:before { content: '\e80b'; } /* '' */
.icon-right:before { content: '\e80c'; } /* '' */
.icon-left:before { content: '\e80d'; } /* '' */
.icon-attention-alt:before { content: '\e80e'; } /* '' */
.icon-calendar-1:before { content: '\e80f'; } /* '' */
.icon-ok-outline:before { content: '\e810'; } /* '' */
.icon-up-dir:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e812'; } /* '' */
.icon-dot:before { content: '\e813'; } /* '' */
.icon-generalidades:before { content: '\e814'; } /* '' */
.icon-play:before { content: '\e815'; } /* '' */
.icon-publicos:before { content: '\e816'; } /* '' */
.icon-brush:before { content: '\e817'; } /* '' */
.icon-lapiz:before { content: '\e818'; } /* '' */
.icon-biblioteca:before { content: '\e819'; } /* '' */
.icon-location-1:before { content: '\f031'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-grafico:before { content: '\e81a'; } /* '' */

body{
	font-family: 'Roboto', sans-serif;
}

.top{
background:#4a4741;
font-family: 'Roboto', sans-serif;
}

.top{
	 ul{
		list-style:none;
		margin:0px;
	}
}

.top ul li{
	display:inline;
}

.top-bar-left ul li a{
	font-weight:bold;
	color:#fff;
	font-size:11px;
	text-transform: uppercase;
	padding: 8px 10px;
	display:inline-block;
	line-height: 20px;
	font-family: 'Roboto', sans-serif;
}

.top-bar-left ul li a i{
	font-size: 16px;
	float: left;
	margin-right: 3px;
}

.top-bar-left ul li a:hover{
	color:#4a4741;
	background:#e5e4e1;
}

.top-bar-right{
	padding-top: 5px;
}

.top-bar-right a{
	color: #fff;
	display: inline-block;
	border: 1px solid #fff;
	padding: 3px;
	border-radius: 50px;
	margin-left: 5px;
	width: 25px;
	height: 25px;
	font-size: 12px;
	text-align: center;
}

.top-bar-right a:hover{
	color:#4a4741;
	background:#e5e4e1;
	border: 1px solid #e5e4e1;
}

.top-bar-right li{
	display: inline-block;
}

.menu_principal{
	border-top: 1px solid #f0f0f0;
}

.menu.medium-horizontal > li{
	display: inline-block;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after{
	display: none;
}

.menu .active > a{
	background: none;
	border-bottom: 3px solid #000;
	color: #000;
}

.menu > li > a{
	color: #000000;
	font-size: 17px;
	padding:  8px 0;
	font-family: 'Roboto', sans-serif;
}

.menu > li{
	padding: 0px 15px;
}

.menu > li:hover{
	background: #ff3e34;
}

.menu > li:hover a{
	color: #fff;
}

.menu > li.active:hover a{
	border-bottom:  3px solid #ff3e34;
	color: #fff;
}

.menu > li:hover .dropdown-pane{
	visibility: visible; /* shows sub-menu */
  opacity: 1;
 

}

.menu > li > a img, .menu > li > a i, .menu > li > a svg{
	margin-right: 0px;
}


.mega-menu {
  .dropdown-pane {
    width: 100%;
    max-width: 73rem;
    margin: 0 auto !important;
    left: 0% !important;
    right: 0% !important;
	
	 visibility: hidden; /* hides sub-menu */
	  opacity: 0;
	 /* Standard syntax */
    transition-duration: 0.2s;
    transition-timing-function: ease;
	  border: none;
	   border-top: 6px solid #ff3e34;
	  background: rgba(62,59,53,0.95);

  }

  .menu {
    background: none;
  }

  > a::after {
    display: none;
  }
}


.menu  li  li > a{
	font-size: 15px;
	padding: 15px 0;
}

.menu  li  li > a .icon-dot{
	font-size: 25px;
	color: #1e7799;
	margin-left: 4px !important;
}

.menu  li  li > a .icon-up-dir{
	color: #e5c03e;
	margin-left: 4px !important;
}

.menu  li  li > a span{
	text-transform: uppercase;
	line-height: 30px;
}

.menu  li  li > a:hover{
	background: none;
	text-decoration: underline;
}

.menu  li  li:hover{
	background: none;
}

.destacados{
	margin: 0px;
	padding: 0px;
}

.destacados li{
	cursor:pointer;
	display:block;
	overflow:hidden;
	position: relative;
	margin-bottom: 10px;
}

.destacados li .info_destacado{
	position: absolute;
	width: 100%;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	top: 0px;
	
}

.destacados li a{
	display: block;
	position: relative;
	background: #000;
	padding: 0em !important;
}


.destacados li img{
	transition: transform .3s ease-in-out;
	width: 100%;
}

.destacados li a:hover img{
	transform: scale3d(1.1,1.1,1);
		
}


.destacados h2{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
	text-align: center;
	font-size: 16px;
	width: 100%;
	padding: 0 20px;
}

.destacados h2 span{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.left-collapse{
	padding-left: 0px;
}


.tipos ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.tipos{
	padding: 10px 5px;
	border: 1px solid #56524b;
	margin-top: 20px;
}

.tipos ul li{
	line-height: 14px;
	padding-left: 15px;
	padding-bottom: 10px;
	clear: both;
}

.tipos ul li a{
  margin-left: 0px;
	font-size: 13px;
}

.tipos ul li.documentacion:before{
	font-family: "fontello";
    content: '\e813';
    font-size: 25px;
    color: #1e7799;
    width: 20px;
    overflow: hidden;
     line-height: 18px;
    height: 13px;
    font-style: normal;
    font-weight: normal;
    speak: none;
   display: inline-block; 
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
	
	
	
}

.tipos ul li.referencia:before{
	font-family: "fontello";
	content: '\e811';
	font-size: 15px;
	color: #e5c03e;
    width: 20px;
    overflow: hidden;
    line-height: 18px;
    height: 13px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block; 
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.tipos h2{
	color: #fff;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-left: 15px;
	margin-bottom: 10px;
}

.min-padding{
	padding: 0 7px;
}

.servicios h2{
	font-size: 15px;
	line-height: 10px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 0px;
	
}

.servicios h2 .demo-icon{
	font-size: 30px;
	line-height: 30px;
	height: 30px;
	
	
}

.servicios li:last-child a{
	color: #000;
	font-weight: 700;
	color: #ff3e34;
	font-size: 13px;
}

.punteado{
	border-right: 2px dotted #68645b;
}

button{
	outline: none;
}



.fullscreen-image-slider {
  
  .orbit-caption {
   top:0px;
	  bottom: auto;
    background: none;
    text-align: left;
    color: $white;
    font-weight: bold;
	 text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  }
	
	.orbit-bullets{
		text-align: right;
	}
	
	.paginador{
		position: relative;
		margin-top: -100px;
	}
	
	.orbit-bullets button{
		border-radius: 0px;
		height: 4px;
		width: 40px;
		background: none;
		border: 1px solid #fff;
	}
	
	.orbit-bullets button.is-active{
		background: #fff;
	}
	
	h1{
		font-family: 'Roboto', sans-serif;
		font-size: 40px;
		padding-top: 1.5em;
		line-height: 40px;
	}
	
	.line{
		width: 100px;
		height: 2px;
		background: #fff;
		margin-bottom: 30px;
		
	}
	
	.read-more{
		clear: both;
		display: inline-block;
		margin-top: 50px;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		
		.icon-right{
			color:#ff3e34;
			line-height: 20px;
			display: inline-block;
			height: 15px;
		}
	}
	
	
	
	
	
}


#search{
	background: #4a4741;
	    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-radius: 0;
	overflow: hidden;
	
	.demo-icon{
		overflow:visible;
	}
	
	.tabs{
		border: 0px;
		background: none;
		
		.tabs-title > a:focus, .tabs-title > a[aria-selected='true'], .tabs-title > a:hover{
			background: none;
			color: #fff;
		}
		
		li:last-child a{
			border: none;
		}
		
		li{
			
			width: 25%;
			display: inline-block;
			
			a{
				border-right:2px dotted #7d7971;
				padding: 10px 15px;
				text-align: center;
				color: #8d8980;
				font-size: 16px;
				line-height: 30px;
				
				.demo-icon{
					font-size: 25px;
					display: inline-block;
					margin-right: 10px;
				}
			}
			
			
			
			
		}
		
	}
	
	.tabs-content{
		border: none;
		background: none;
		
	}
	
	.input-group{
		margin-bottom: 0px;
	}
	
	.tabs-panel{
		padding: 0px;
		padding-top:  15px;
	}

	
	.button:before{
		content: '\e801';
		 font-family: 'fontello';
		margin-right: 5px;
		
	}
}

.button{
	background: #ff3e34;
	
}

.button:hover{
	background: #000;
	
}

#calendario{
	padding-top: 40px;
	
	.buscador_actividades{
		
		label{
			font-weight: 300;
			font-size: 22px;
		}
		
		select{
			border: 1px solid #eeeeee;
			font-size: 16px;
			color: #000000;
			background: url(../img/select.jpg) no-repeat right #fff;
    -webkit-appearance: none;
			margin-bottom: 30px;
   
		}
		
	}
	
	.slide_calendario{
		
		
		
		.orbit-previous, .orbit-next{
			font-size: 40px;
			background: #fff;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			color: #686968;
			padding: 0px;
			text-align: center;
			box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.4);
		}
		
		.orbit-previous{
			left: -30px;
	
		}
		 .orbit-next{
			 right: -30px;
		}
		
		.desc{
			font-size: 14px;
		color: #666666;
		line-height: 16px;
		}
		
		
		
		img{
			width: 100%;
			display: block;
		}
		
		.cat{
			font-weight: 700;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			
			padding: 10px 0;
			display: block;
			
		}
		
		.cat1{
			background: #1e7899;
		}
		
		.cat2{
			background: #3fb780;
		}
		
		.cat3{
			background: #e5c03e;
		}
		
		h2{
			font-size: 18px;
			color: #000;
			padding: 10px 0;
			margin: 0px;
			line-height: 20px;
			
		}
		
		.info_calendario{
			position: relative;
			
			.actividad{
				position: absolute;
				top: 0px;
				width: 100%;
				padding: 10px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
				
				
				.titulo{
					float: left;
					border-top: 1px solid #fff;
					padding: 10px 0;
					color: #fff;
					font-weight: 700;
					font-size: 12px;
				
					
				}
				
				.fecha{
					float: right;
					color: #fff;
					font-weight: 700;
					font-size: 12px;
					line-height: 20px;
					text-align: center;
					
					span{
						font-size: 25px;
						display: block;
						
					}
				}
				
			}
		}
		
	}
	
	
	
	
}

.demo-icon{
	overflow: hidden;
	height: 20px;
	display: inline-block;
}


.seguir{
		
		text-align: center;
		padding: 25px 0;
	
	
		
		
		.icono{
			border-radius: 50%;
			background: #000;
			padding: 10px;
			margin-bottom: 13px;
			display: inline-block;
			clear: both;
			color: #fff;
			overflow: hidden;
			width: 60px;
			height: 60px;
		}
		
		.demo-icon{
			
			color: #fff;
			border-radius: 50%;
			background: #000;
			width: 60px;
			height: 60px;
			display: inline-block;
			font-size: 33px;
			line-height: 60px;
			
		}
		
		
		a{
			color: #ff3e34;
			text-transform: uppercase;
			font-size: 14px;
		}
		
	}


#suscribirse{
	
	background: url(../img/suscribirse.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
	padding: 30px 0;
	color: #fff;
	font-size: 14px;
	color: #ffe1e1;

	
	h3{
		color: #fff;
		font-size: 24px;
		margin: 0px;
		padding: 0px;
		
	}
	
	.button:before{
		content: '\e804';
		font-family: 'fontello';
		margin-right: 5px;
	}
	
	
	
}

#destacados{
	padding: 45px 0;
	
	.tabs{
		border: none;
		border-bottom: 1px solid #ff3e34;
		text-align: center;
		
		.tabs-title{
			float: none;
			display: inline-block;
		}
		
		.tabs-title > a{
			background: none;
			color: #bbbbbb;
			font-size: 15px;
			text-transform: uppercase;
		}
		
		.tabs-title.is-active > a{
			color: #000000;
			border-bottom: 3px solid #ff3e34; 
		}
		
		
	}
	.tabs-content{
			border: none;
	}
	
	.destacado.min .info_main{
			font-size: 16px;
			line-height: 16px;
	}
	
	.no-padding{
		padding: 0 8px;
	}
	
	
	
	.destacado{
		cursor:pointer;
		display:block;
		overflow:hidden;
		position: relative;
		margin-bottom: 15px;
		
		
		.info_main{
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			text-align: center;
			font-size: 26px;
			color: #fff;
			width: 100%;
			padding: 0 20px;
			line-height: 26px;
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
			
			.ciudad{
				display: inline-block;
				background: #ff3e34;
				color: #fff;
				text-transform: uppercase;
				padding:5px 10px;
				clear: both;
				font-size: 15px;
				text-shadow: none;
			}
			
			.categoria{
				text-transform: uppercase;
				color: #fff;
				border-top: 1px solid #fff;
				display: inline-block;
				padding: 10px 0;
				margin-top: 10px;
				clear: both;
				font-size: 15px;
				
			}
			
		}
		
		
	
		
		.info_destacado{
			position: absolute;
			width: 100%;
			bottom: 0px;
			background: rgba(0,0,0,0.3);
			top: 0px;
			

		}
		
		a{
			display: block;
			position: relative;
			background: #000;
			padding: 0px !important;
			
		}
		img{
			transition: transform .3s ease-in-out;
			width: 100%;
		}

		
	}

	
	.destacado a:hover img{
		transform: scale3d(1.1,1.1,1);

	}
	
	.destacado a:hover .info_destacado{
		
		background: rgba(0,0,0,0.6);
		
		
	}
	
	
}

.orbit .demo-icon{
	height: 40px;
	line-height: 40px;
	display: block;
}

#museos{
	
	background: #ff3e34;
	padding: 35px 0;
	
	h3{
		color: #fff;
		text-align: center;
		font-size: 32px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin-bottom: 30px;
		
	}
	
	.orbit-bullets button{
		background: #fff;
		border: 2px solid #fff;
	}
	
	.orbit-bullets button.is-active{
		border: 2px solid #fff;
		background: transparent;
	}
	
	.orbit-previous, .orbit-next{
			font-size: 40px;
			background: #fff;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			color: #686968;
			padding: 0px;
			text-align: center;
			box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.4);
		}
		
		.orbit-previous{
			left: -30px;
	
		}
		 .orbit-next{
			 right: -30px;
		}
	
	.museo{
		cursor:pointer;
		display:block;
		overflow:hidden;
		position: relative;
		margin-bottom: 15px;
		
		
		
		
		 a:hover img{
			transform: scale3d(1.1,1.1,1);

		}

		a:hover .info_destacado{

			background: rgba(0,0,0,0.7);


		}

		
		.info_main{
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			text-align: center;
		
			color: #fff;
			width: 100%;
			padding: 0 20px;
			
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
			
			.ciudad{
				color: #fff;
				text-transform: uppercase;
				padding:5px 10px;
				clear: both;
				font-size: 14px;
				line-height: 14px;
				text-shadow: none;
			}
			
			.categoria{
				text-transform: uppercase;
				color: #fff;
				border-top: 1px solid #fff;
				display: inline-block;
				padding: 10px 0;
				clear: both;
				font-size: 14px;
				line-height: 14px;
				
			}
			
			.fecha{
				font-size: 14px;
				line-height: 16px;
				padding-bottom: 20px;
			}
			
			.info{
				font-size: 20px;
				line-height: 20px;
			}
			
			
			
			
		}
		
		
	
		
		.info_destacado{
			position: absolute;
			width: 100%;
			bottom: 0px;
			background: rgba(0,0,0,0.5);
			top: 0px;
			

		}
		
		a{
			display: block;
			position: relative;
			background: #000;
			padding: 0px !important;
			
		}
		img{
			transition: transform .3s ease-in-out;
			width: 100%;
		}

		
	}


}

#servicios{
	
	.servicio{
		padding: 20px 0;
		font-size: 16px;
		line-height: 20px;
		
		h4{
			font-size: 18px;
		}
		
	}
	
	h3{
		color: #000;
		text-align: left;
		font-size: 32px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin-bottom: 0px;
		
	}
	padding: 50px 0;
	
	.tit_seccion{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		padding: 15px 0;
		position: relative;
		background: #fff;
    	z-index: 1;
	}
	
	.linea_titulo{
		position: absolute;
		width: 100%;
		height: 1px;
		background: #000;
		top: 50%;
	}
	
	.tit{
		position: relative;
		overflow: hidden;margin: 30px auto;
	}
	
}

.ir_todos{
	font-weight: 700;
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
	padding-top: 10px;
	display: inline-block;
	
	
	
	.icon-right{
		color: #ff3e34;
		height: 16px;
	}
}

.ir_todos:hover{
	color: #1b1b1b;

}


#socio{
	
	

	background: url(../img/suscribirse.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
	padding: 30px 0;
	color: #fff;
	font-size: 14px;
	color: #ffe1e1;
	
	
	

	
	h3{
		color: #fff;
		font-size: 24px;
		margin: 0px;
		padding: 0px;
		
	}
	
	.button{
		width: 100%;
		padding: 15px;
		text-transform: uppercase;
		font-size: 12px;
		margin-top: 5px;
	
	}
	
	
	
	
}

#multimedia{
	
	padding-top: 30px;
	padding-bottom: 15px;
	background: #f8f8f8;
	
	h3{
		color: #000;
		text-align: left;
		font-size: 32px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin-bottom: 0px;
		padding-bottom: 30px;
		
	}
	
	.destacado img{
		transition: transform .3s ease-in-out;
		width: 100%;
	}
	
	.thumbs{
		
		font-size: 16px;
		color: #000;
		margin-bottom: 18px;
		
		
		img{
			width: 100%;
		}
		
		.thumb{
			position: relative;
		}
			.thumb_fondo{
				position: absolute;
				width: 100%;
				bottom: 0px;
				background: rgba(0,0,0,0.3);
				top: 0px;
				color: #fff;
				padding-top: 10px;
				padding-left: 10px;
				font-size: 23px;
				overflow: hidden;
				
				.demo-icon{
					height: 30px;
				}
				
		}
		
		.categoria{
			font-weight: 700;
			border-top: 1px solid #000;
			padding: 9px 0;
			text-transform: uppercase;
			display: inline-block;
			font-size: 12px;
			clear: both;
		}
	}
	
	

	.destacado a:hover img{
		transform: scale3d(1.1,1.1,1);
	}
	
	.destacado{
		cursor:pointer;
		display:block;
		overflow:hidden;
		position: relative;
		margin-bottom: 15px;
		
		.info_multimedia{
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding: 20px;
			color: #fff;
			.categoria{
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 700;
				border-top: 1px solid #fff;
				display: inline-block;
				padding-top: 10px;
			}
			.titulo{
				font-size: 18px;
			}
		}
		
		
		.info_icono{
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			text-align: center;
			font-size: 65px;
			color: #fff;
			width: 100%;
			.demo-icon{
				height: 65px;
				line-height: 65px;
			}
			
		}
		
		.info_fondo{
			position: absolute;
			width: 100%;
			bottom: 0px;
			background: rgba(0,0,0,0.3);
			top: 0px;
			

		}
		
		a{
			display: block;
			position: relative;
			background: #000;
			padding: 0px !important;
			
		}
		img{
			transition: transform .3s ease-in-out;
			width: 100%;
		}
		
		

		
	}
	
}


footer{
	background: #4a4741;
	border-top: 3px solid #6a665d;
	padding-top: 30px;
	padding-bottom: 60px;
	padding-bottom: 40px;
	
	ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
		
		li{
			
			
			a{
				padding: 6px 0;
				font-size: 13px;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				display: block;
			}
			a:hover{
				color: #fefefe;
			}
		}
		
		
		
	}
	
	.divisor{
		width: 3px;
		background:  url(../img/divisor.jpg) repeat-y;
		height: 400px;
		margin: 0 auto;
	}
	
	a{
		color: #c0bdb5;
		text-decoration: underline;
	}
	
	font-size: 13px;
	color: #fff;
	
	h2{
		font-size: 14px;
		font-weight: 300;
		padding-bottom: 15px;
	}
	
	.links{
		padding-top: 40px;
	}

	
	.social{
		
		li{
			display: inline-block;
		}
		padding-top:20px;
		 a{
			color: #fff;
			display: inline-block;
			border: 1px solid #fff;
			padding: 3px;
			border-radius: 50px;
			margin-left: 5px;
			width: 25px;
			height: 25px;
			font-size: 12px;
			 text-align: center;
		}

		 a:hover{
			color:#4a4741;
			background:#e5e4e1;
			border: 1px solid #e5e4e1;
		}
		
		
	}


	
}

.input-group-button a, .input-group-button input, .input-group-button button, .input-group-button label{
	padding-top: 13px;
	padding-bottom: 13px;
}


.sticky.is-stuck.is-at-top {
	
    top: 0;
    margin-top: 0px !important;
    max-width: 100% !important;
    width: 100%;
	
	.is-accordion-submenu-parent > a::after {
   
    	border-color: #cccccc transparent transparent;
	}
	
	
	
	#menu-resp{
			position: absolute;
			width: 80%;
			background: #fbfbfb;
			
			
		
		.dropdown{
			
			padding-top: 40px;
			overflow: scroll;
   			height: 600px;
			
			li{
				display: block;
				padding: 10px;
				border-bottom: 1px solid #cccccc;
			}
			
			ul.is-accordion-submenu{
				background: #423f39
			}
			
			li.is-accordion-submenu-parent{
				padding: 0px;
				a{
					padding: 18px 10px;
					
				}
				li{
						padding: 0px;
					}
			}
			
		}
	}
		
	
	.title-bar{
		background: #fff;
		color: #000;
		box-shadow: 0px 15px 48px -8px rgba(219,219,219,1);
		z-index: 100;
    	position: relative;
		
		.icon-search{
			float: right;
			height: 30px;
			margin-top: 20px;
			width: 10%;
			
		}
		
		.menu-icon{
			
			margin: 0px;
			text-align: center;
		}
		
		.icon-search:before{
			
			font-size: 30px;
			height: 30px;
			line-height: 30px;
		}
		
		.title-bar-title{
			max-width:80%;
			padding: 0px 10px;
		}
		
		
		.menu-icon::after{
			height: 2px;
			background: #000;
			box-shadow: 0 7px 0 #000, 0 14px 0 #000;
		}
		
		
	}
	
}



#menu_secundario{
	background: #4a4741;
	padding: 15px 0;
	margin-top: 50px;
	 
	
	ul {
			width: 100%;
			display: table;
			margin: 0px;
			padding: 0px;
		
			 li {
				    display: table-cell;
    				width: 1%;
				 	position: relative;
					background:  url(../img/divisor.jpg) repeat-y right;
					text-align: center;
				 a{
					 font-size: 16px;
					 color: #c3beb1;
					 
					 .demo-icon:before{
						 font-size: 20px;
						 line-height: 20px;
					 }
					 
				 }
				 
				 a:hover{
					 color: #fff;
				 }
				 
			 }
				 
			 .active a {
				 color: #fff;
			}
		
		}
	
	
	
}

.clr{
	clear: both;
}

#info{
	
	padding: 40px 0;
	
	
	.info_principal{
		background: #ff3e34;
		padding: 30px 20px;
		font-size: 16px;
		padding-top: 45px;
		color: #fff;
		margin-bottom: 15px;
		
		h3{
			font-size: 22px;
			margin: 0px;
			padding: 0px;
			margin-bottom: 10px;
		}
		
		.row{
			margin-bottom: 33px;
		}
		
	}
	
	.icono-info{
		text-align: center;
	}
	
	
	
	
	.destacado img{
		transition: transform .3s ease-in-out;
		width: 100%;
	}
	
	
	

	.destacado a:hover img{
		transform: scale3d(1.1,1.1,1);
	}
	
	.destacado{
		cursor:pointer;
		display:block;
		overflow:hidden;
		position: relative;
		margin-bottom: 20px;
		
		.info_multimedia{
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding: 20px;
			color: #fff;
			.desc{
				font-size: 14px;
				display: inline-block;
				padding-top: 5px;
			}
			.titulo{
				font-size: 22px;
			}
			.fecha{
				font-weight: 700;
				font-size: 11px;
				text-transform: uppercase;
			}
		}

		
		.info_fondo{
			position: absolute;
			width: 100%;
			bottom: 0px;
			background: rgba(0,0,0,0.3);
			top: 0px;
			

		}
		
		a{
			display: block;
			position: relative;
			background: #000;
			padding: 0px !important;
			
		}
		img{
			transition: transform .3s ease-in-out;
			width: 100%;
		}
		
		

		
	}

}

#ubicacion{
	
	font-size: 16px;
	padding-bottom: 30px;
	
	h3{
		font-size: 32px;
		color: #000000;
		font-weight: 300;
		text-align: right;
	}
}


.titulo-seccion{
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}



#espacios{
	padding-top: 40px;
	padding-bottom: 40px;
	
	.buscador_actividades{
		
		label{
			font-weight: 300;
			font-size: 22px;
		}
		
		select{
			border: 1px solid #eeeeee;
			font-size: 16px;
			color: #000000;
			background: url(../img/select.jpg) no-repeat right #fff;
    -webkit-appearance: none;
			margin-bottom: 30px;
   
		}
		
	}
	
	.slide_espacios{
		
		
		
		.orbit-previous, .orbit-next{
			font-size: 40px;
			background: #fff;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			color: #686968;
			padding: 0px;
			text-align: center;
			box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.4);
		}
		
		.orbit-previous{
			left: -30px;
	
		}
		 .orbit-next{
			 right: -30px;
		}
		
		
		img{
			width: 100%;
			display: block;
		}
		
		.cat{
			
			text-align: left;
			color: #fff;
		
			font-size:22px;
			background: #ff3e34;
			padding: 10px;
			display: block;
			min-height: 100px;
			line-height: 28px;
			
		}
		
		
		
		.info_espacio{
			position: relative;
			
			.actividad{
				position: absolute;
				top: 0px;
				width: 100%;
				padding: 10px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
				
				
				.titulo{
					float: left;
					border-top: 1px solid #fff;
					padding: 10px 0;
					color: #fff;
					font-weight: 700;
					font-size: 12px;
				
					
				}
				
			
				
			}
		}
		
	}
	
	
	
	
}

#bread{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,eaeaea+3,eaeaea+3,ffffff+100 */
background: rgb(234,234,234); /* Old browsers */
background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(234,234,234,1) 3%, rgba(234,234,234,1) 3%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(234,234,234,1) 3%,rgba(234,234,234,1) 3%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(234,234,234,1) 3%,rgba(234,234,234,1) 3%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding: 20px 0;
	font-size: 11px;
	text-transform: uppercase;
	color: #999999;
	span{
		
		color: #000;
		display: inline-block;
		padding: 0 5px;
		
	}
	a{
		color: #999999;
		display: inline-block;
		padding: 0 5px;
	}
}


.biblioteca-main{
	
		.fullscreen-image-slider .paginador{
			margin-top: -250px;
		}
	
	#menu_secundario{
		margin-top: 44px;
	}
	
}



.biblioteca-virtual-main #search .tabs{
	text-align: center;
}

.biblioteca-virtual-main #search .tabs li{
	width: auto;
	float: none;
}

.biblioteca-virtual-main{
	
	
	.fullscreen-image-slider .paginador{
	margin-top: -270px;
	
	
	}
	
	
}





.campos-buscador{
	color: #fff;
	padding-top: 10px;
	font-size: 14px;
	
	input{
		margin-right: 10px;
		 -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
	}
	
}


 .biblioteca-virtual-main #museos{
		 background: url(../img/patron.jpg) repeat;
}




@media screen  and (max-width: 39.9375em) {
	
	.titulo-seccion{
		font-size: 26px;
	}
	
	#info{
		padding: 20px 0;
	}
	
	#ubicacion{
		padding-bottom: 10px;
	
		h3{
			font-size: 26px;
			color: #000000;
			font-weight: 300;
			text-align: left;
		}
	}
	
	
	
	
	#menu_secundario{
		margin-top: 0px;
		
		ul{
			white-space: nowrap;
			overflow: auto;
			overflow-y: hidden;
			display: block;
			li {
				    display:inline-block;
    				width: auto;
				padding: 0 20px;
			}
			
		}
		
	}
	
	

	
	#multimedia{
		
	h3{
			text-align: center;
			font-size: 26px;
			padding-bottom: 0px;
		}
		
		.text-right{
			text-align: center;
			padding-bottom: 30px;
		}
		
	}
	
	footer{
		
		ul{
			-moz-column-count: 2;
			-moz-column-gap: 20px;
			-webkit-column-count: 2;
			-webkit-column-gap: 20px;
			column-count: 2;
			column-gap: 20px;
			
			li{
				padding-left: 20px;
			}

		}
		
		.social{
			
			padding-left: 15px;
			
			li{
				padding-left: 0px;
			}
		}
		
		.logo_footer{
			text-align: center;
			padding-bottom: 20px;
		}
		
	}
	
	#suscribirse{
		text-align: center;
		font-size: 18px;
		line-height: 18px;
		padding: 20px 0;
		background-attachment: inherit;
		
		h3{
			line-height: 20px;
			margin-bottom: 10px;
		}
		
		.input-group{
			margin-top: 15px;
			margin-bottom: 0px;
		}
	}
	
	#socio{
		text-align: center;
		font-size: 18px;
		line-height: 18px;
		padding: 20px 0;
		background-attachment: inherit;
		
		.input-group{
			margin-top: 15px;
			margin-bottom: 0px;
		}
		
		h3{
			line-height: 22px;
			padding-top: 5px;
			margin-bottom: 10px;
		}
	}
	
	#calendario{
		
		.seguir{
			margin-top: 15px;
		}
		
		form{
			margin-bottom: 20px;
		}
		.text-right{
			text-align: left;
		}
		padding-top: 20px;
		.buscador_actividades {
			
			
			select{
			margin-bottom: 10px;
			}
			
			label{
				 font-weight: 300;
				font-size: 21px;
				padding-left: 8px;
			}
		
		}
		
		.orbit-previous, .orbit-next{
			display: none;
		}
		
		   

	}
	
	#espacios{
		
		
		form{
			margin-bottom: 20px;
		}
		.text-right{
			text-align: center;
		}
		padding-top: 20px;
		.buscador_actividades {
			
			
			select{
			margin-bottom: 10px;
			}
			
			label{
				 font-weight: 300;
				font-size: 21px;
				padding-left: 8px;
			}
		
		}
		
		.orbit-previous, .orbit-next{
			display: none;
		}
		
		.info_espacio{
			width: 50%;
			float: left;
			
		}
		
		 
		.cat{
			width: 50%;
			float: left;
			padding-left: 10px;
		}
		
		.slide_espacios{
			 .medium-3{
			background: #ff3e34;
			margin-bottom: 15px;
		}
			
		}
		

	}
	
	.fullscreen-image-slider {
		
		.orbit-bullets button{
			width: 20px;
		}
		
		
		.paginador{
			margin-top: -50px;
		}
		h1{
			font-size: 21px;
			line-height: 21px;
			padding-top: 185px;
		}
		.line{
			background: #ff3e34;
			margin-bottom: 0px;
			width: 50px;
		}
		
		.read-more{
			margin-top: 10px;
			
			
			
		}
		
		.orbit-image{
		
			margin-left: -50%;
			max-width: none;
			height: 300px;
			width: auto;
			
		}
		
		.orbit-container{
			height: 300px;
		}
		
	}
	
	#servicios{
		
		padding: 20px 0;
		
		.tit{
			margin-right: 20px;
    		margin-left: 20px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	
		.servicio{
			padding-bottom: 10px;
			width: 50%;
			margin: 0px;
			float: left;
			text-align: center;
				.text-right{
				text-align: center;
			
			}
		}
		
		h3{
			font-size: 26px;
			text-align: center;
		}
		
		
	}
	
	.servicios-tit .text-right{
		text-align: center;
		margin-bottom: 10px;
	}
	
	
	.seguir{
		
		
		padding: 0px;
		padding-bottom: 10px;
	}
	
	
	#museos{
		
		padding: 20px 0;
		padding-bottom: 10px;
		h3{
			font-size: 26px;
			line-height: 28px;
			margin-bottom: 10px;
			
		}
		.orbit-previous, .orbit-next{
			display: none;
		}
		
		.orbit-bullets{
			display: none;
		}
	}
	
	
	
	
	
	#destacados{
		
		.tabs{
			white-space: nowrap;
			overflow: auto;
    		overflow-y: hidden;
			
			li{
				float: none;
				display: inline-block;
			}
			
			
		}
		
		.tabs-panel{
			padding-bottom: 0px;
		}
		
			padding: 20px 0px;
		padding-bottom: 10px;
		
		 .destacado{
		
			 a{
				 height: 200px;
				 
				 .info_main{
					 
					 font-size: 18px;
					 line-height: 18px;
					 
					 .ciudad{
						 line-height: 15px;
					 }
				 
				 }
			 }
		
		}
		
	}
	
}


