/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  &:before{
    content: "[";
  }
  &:after {
    content: "]";
  }
  li {
    display: inline;
    &:before {
      content: "|";
      padding-right: 0.3em;
    }
    &:nth-child(1):before {
      content: "";
      padding: 0;
    }
  }
}
form {
  input {
    margin-bottom: 0.5em;
  }
}
.container{
  width:960px !important;
}
.header{
  background: white;
  width: 100%;
  .container{
    background: url('../img/backgrounds/header.png') no-repeat;
    height: 167px;
  }
}
.main {
  background: url('../img/backgrounds/main.png');
  min-height: 500px;
}
.eventos-list{
  background: white;
  min-height: 400px;
}
.sucursales-list{
  background: url('../img/backgrounds/main_dark.png');
  height: 400px;
}
.sucursales-mapa{
  background: white;
  height: 400px;
}
#elijasede{
  padding: 30px 20px 10px 20px;
}
#lista{
  border-top: 1px solid #ccc;
  margin: 0 20px;
  .sucursal{
    text-align: center;
    font-family: Helvetica;
    font-weight: 100;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    a{
      color: #666;
    }
  }
}
.destacados{
  background: url('../img/contents/destacados.png') no-repeat center;
  height: 206px;
}
.menu2{
  background: url('../img/backgrounds/menu2.png');
  height: 52px;
}
.darkbar{
  background: url('../img/backgrounds/darkbar.png');
  min-height: 38px;
}
.menu3{
  background: url('../img/backgrounds/menu3.png') no-repeat center;
  height: 38px;
}
.footer{
  background: url('../img/backgrounds/main_dark.png');
  min-height: 273px;
}
.footercontent{
  background: url('../img/backgrounds/footercontent.png') no-repeat center;
  height: 273px;
}
.evento{
  padding: 20px;
  .title{
    font-family: 'Droid Serif', serif;
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    padding: 5px 0;
  }
  .body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .date,
  .location{
    font-family: 'Droid Serif', serif;
    font-weight: 700;
    font-size: 10px;
    font-style: italic;
    padding: 5px 0;
  }
  .panel-heading,
  .panel-footer{
    padding: 0;
    background: none;
    border: none;
  }
  .panel-body{
    height: 220px;
  }
  .panel-footer{
    padding: 15px;
  }
  .ver-mas{
    background: white;
    color: #333;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: italic;
    border: 1px solid #333;
    font-size: 12px;
  }
}
.sucursal {
  .title{
    font-family: 'Droid Serif', serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    margin: 15px 0;
    /*color: #6A3360;*/
  }
  .subtitle{
    font-family: 'Droid Serif', serif;
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    margin: 15px 0;
    /*color: #6A3360;*/
  }
  .body,
  .servicios{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.sinpadding [class*="col-"], .nopadding {
    padding: 0;
}

.nopadding-left {
  padding-left: 0;
}

/* Estilos de la sección musica (Opus) */
.col-center-opus {
  color: white;
  a {
    color: red;
  }
  .opus-acerca {
    padding: 10px 40px !important;
  }
  .help-text {
    padding: 10px 40px !important;
    background-color: #8E162E;
  }
  .form-search-opus {
    padding: 10px 40px !important;
    background-color: #B21837;
    overflow: hidden;
    button {
      background-color: transparent;
      border: 1px solid white;
      color: white;
    }
  }
}

.opus-acerca:after {
  content: " ";
  position: absolute;
  margin-top: 30px;
  left: 2%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 10px 0 10px;
  border-color: #F5F5F5 transparent transparent transparent;
}

.musica-acerca {
  padding: 0 20px;
  color: #9E2C44;
  h2, h2 small {
    color: #CC1F43;
  }
  .musica-text {
    ul {
      padding-left: 16px;
    }
  }
}

.conciertos {
  .filter-search {
    .head {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .active {
      background-color: #8E1730;
      color: white;
    }
    .panel-default {
      border-color: transparent;
      .panel-collapse {
        background-color: rgba(223, 223, 223, 0.6);
      }
    }
    .panel-heading {
      border-radius: 0;
    }
    .panel-default>.panel-heading {
      background-color: #B91737;
      color: white;
      border: none;
      border-bottom: 1px solid white;
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .results {
    background-color: white;
    padding: 23px;
    .single-result {
      border-bottom: 1px solid #7A303E;
      small, .single-filter {
        color: #666666;
      }
      .media-heading {
        color: #CC1F43;
      }
      .single-title {
        color: #92263B;
      }
    }
  }
}