<!--Slider Eventos-->
<section class="contCarousel gEvents large-12">
	<h2>Eventos</h2>
	<div class="gCarousel">
		<article  class="large-3">
			<figure style="background-image:url(../../assets/img/banners/carousel1.jpg);">
				<a href="#"><img src="../../assets/img/banners/carousel1.jpg" alt="Nombre imagen"></a>
			</figure>
			<header>
				<span class="cate">EXPOSICIÓN</span>
				<h2><a href="#">Durero <br>Grabados 1496-1522</a></h2>
				<p class="subInfo">Agosto 1° a Noviembre 3 de 2014 <br>Bogotá | Museo de Arte del BR <br>Sala Lorem Ipsum Dolor</p>
				<div class="desc">
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget ex cursus, lobortis arcu sed, congue ex. 
				</div>
			</header>
		</article> 
		<article class="large-3">
			<figure style="background-image:url(../../assets/img/banners/carousel2.jpg);">
				<a href="#"><img src="../../assets/img/banners/carousel2.jpg" alt="Nombre imagen"></a>
			</figure>
			<header>
				<span class="cate">LABORATORIO</span>
				<h2><a href="#">Laboratorio de <br>pensamiento creativo</a></h2>
				<p class="subInfo">Septiembre 24 al 27 de 2014 <br>Bogotá | Av. Las Américas Nº 50-51</p>
				<div class="desc">
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget ex cursus, lobortis arcu sed, congue ex. <br><br>
				</div>
			</header>
		</article>
		<article class="large-3">
			<figure style="background-image:url(../../assets/img/banners/carousel3.jpg);">
				<a href="#"><img src="../../assets/img/banners/carousel3.jpg" alt="Nombre imagen"></a>
			</figure>
			<header>
				<span class="cate">EXPOSICIÓN</span>
				<h2><a href="#">Emmet Gowin</a></h2>
				<p class="subInfo">Septiembre 5 a Diciembre 7 de 2014 <br>Bogotá | Museo de Arte del BR <br>Sala Lorem Ipsum Dolor</p>
				<div class="desc">
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget ex cursus, lobortis arcu sed, congue ex. <br><br>
				</div>
			</header>
		</article>
	</div>
	<div class="contArrows">
		<span class="btnPrev">prev</span><div class="contPager"></div><span class="btnNext">next</span>
	</div>
</section>
<!--Fin Slider Eventos-->
<!--Banner 50%--> 
<div class="gAnuncio medium-12 large-6 ">
	<a href="#">
		<figure ><img src="../../assets/img/banners/anuncio3.jpg" alt="Nombre imagen"></figure>
		<div>
			<h2>Descargue aquí <br>la programación de noviembre</h2>
		</div>
	</a>
</div>
<div class="gAnuncio medium-12 large-6 ">
	<div>
		<figure ><img src="../../assets/img/banners/anuncio3.jpg" alt="Nombre imagen"></figure>
		<div>
			<h2>Anuncio pequeño <br>lorem ipsum</h2>
		</div>
	</div>
</div>
<!--Fin Banner 50%-->