<!--Banner principal-->
<section class="contBanner large-12">
	<div class="sliderBig large-12">
		<article class="large-12">
			<figure class="large-12"  style="background-image:url(assets/img/banners/banner.jpg);"><img src="assets/img/banners/banner.jpg" alt="Nombre imagen"></figure>
			<header>
				<div>
					<h2>Título completo del destacado lorem ipsum dolor sit amet</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
					<a href="#" class="btnMore">ver más</a>
				</div>
			</header>
		</article>
		<article class="large-12">
			<figure class="large-12"  class="large-12" style="background-image:url(assets/img/banners/banner.jpg);"><img src="images/prueba/banner.jpg" alt="Nombre imagen"></figure>
			<header>
				<div>
					<h2>Título completo del destacado lorem ipsum dolor sit amet</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
					<a href="#" class="btnMore">ver más</a>
				</div>
			</header>
		</article>
		<article class="large-12">
			<figure class="large-12"  style="background-image:url(assets/img/banners/banner.jpg);"><img src="images/prueba/banner.jpg" alt="Nombre imagen"></figure>
			<header>
				<div>
					<h2>Título completo del destacado lorem ipsum dolor sit amet</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
					<a href="#" class="btnMore">ver más</a>
				</div>
			</header>
		</article>
	</div>
	<span class="btnPrev">prev</span><span class="btnNext">next</span>
	<div class="contPager"></div>
</section>
<!--Fin Banner principal-->