<!--Cuadrados-->
	<div class="large-12 row">
		<div class="gSquare cBiblio medium-4 large-4 columns">
			<h2>Catálogo de la BLAA <br>y su red de bibliotecas</h2>
			<figure style="background-image:url(../../assets/img/banners/cubo5.jpg);"><img src="../../assets/img/banners/cubo5.jpg" alt="nombre imagen"></figure>
			<div class="cTable">
				<div class="cell">
					<a href="#" class="btnWhite">SOY SOCIO</a>
					<a href="#" class="btnWhite">NO SOY SOCIO</a>
				</div>
			</div>
		</div>
		<div class="gSquare cBiblio medium-4 large-4 columns"> 
			<h2>Biblioteca Virtual</h2>
			<figure style="background-image:url(../../assets/img/banners/cubo6.jpg);"><img src="../../assets/img/banners/cubo6.jpg" alt="nombre imagen"></figure>
			<div class="cTable">
				<form>
					<a href="#" class="btnWhite">IR A LA BIBLIOTECA <br>VIRTUAL</a>
					<p>
						<input type="text" placeholder="| buscar">
						<input type="button" value="buscar" class="btnForm">
					</p>
				</form>
			</div>
		</div>
		<div class="gSquare cMusica medium-4 large-4 columns">
			<h2>Compre aquí sus boletas</h2>
			<figure style="background-image:url(../../assets/img/banners/cubo1.jpg);"><img src="../../assets/img/banners/cubo1.jpg" alt="nombre imagen"></figure>
			<div class="cTable">
				<a href="#" class="btnLink">
					<img src="../../assets/img/icoTuBoleta.png" alt="Tu Boleta.com"><br><br><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex.</p>
				</a>
			</div>
		</div>
		<div class="gSquare cMusica medium-4 large-4 columns">
			<h2>Rutas de acceso y servicios</h2>
			<figure style="background-image:url(../../assets/img/banners/cubo2.jpg);"><img src="../../assets/img/banners/cubo2.jpg" alt="nombre imagen"></figure>
			<div class="cTable">
				<a href="#" class="btnLink">
					<img src="../../assets/img/icoMap.png" alt="Ico Map"><br><br><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex.</p>
				</a>
			</div>
		</div>
		<div class="gSquare cMusica medium-4 large-4 columns">
			<h2>Video destacado</h2>
			<figure style="background-image:url(../../assets/img/banners/cubo3.jpg);"><img src="../../assets/img/banners/cubo3.jpg" alt="nombre imagen"></figure>
			<div class="cTable">
				<a href="http://www.youtube.com/embed/Mfn31pahhqc" class="btnLink openVideo">
					<img src="../../assets/img/icoVideo.png" alt="Ico Video"><br><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex.</p>
				</a>
			</div>
		</div>
		<div class="gSquare cMusica medium-4 large-4 columns">
			<h2>Señal clásica en vivo</h2>
			<figure style="background-image:url(../../assets/img/banners/cubo4.jpg);"><img src="../../assets/img/banners/cubo4.jpg" alt="nombre imagen"></figure>
			<div class="cTable">
				<a href="#" class="btnLink">
					<img src="../../assets/img/icoSClasica.png" alt="Señal Clasica en vivo"><br><br><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex.</p>
				</a>
			</div>
		</div>
	</div>
		<!--Fin Cuadrados-->