<!--Enlaces con imagen-->
<div class="large-12 row">
		<div class="linkImage medium-3 large-3  columns">
			<a href="#" >
				<figure style="background-image:url(../../assets/img/banners/linkImage1.jpg);"><img src="../../assets/img/banners/linkImage1.jpg" alt="Nombre imagen"></figure>
				<span>TEMPORADA <br>NACIONAL</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage2.jpg);"><img src="../../assets/img/banners/linkImage2.jpg" alt="Nombre imagen"></figure>
				<span>SEMANA <br>DE LA GUITARRA</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage3.jpg);"><img src="../../assets/img/banners/linkImage3.jpg" alt="Nombre imagen"></figure>
				<span>JÓVENES <br>INTÉRPRETES</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage4.jpg);"><img src="../../assets/img/banners/linkImage4.jpg" alt="Nombre imagen"></figure>
				<span>LA MÚSICA <br>SE HABLA</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage5.jpg);"><img src="../../assets/img/banners/linkImage5.jpg" alt="Nombre imagen"></figure>
				<span>BLOG DE LA SALA <br>DE CONCIERTOS</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage6.jpg);"><img src="../../assets/img/banners/linkImage6.jpg" alt="Nombre imagen"></figure>
				<span>ARCHIVO <br>HISTÓRICO</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage7.jpg);"><img src="../../assets/img/banners/linkImage7.jpg" alt="Nombre imagen"></figure>
				<span>COLECCIÓN <br>DE ARTE</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage8.jpg);"><img src="../../assets/img/banners/linkImage8.jpg" alt="Nombre imagen"></figure>
				<span>CASA GÓMEZ <br>CAMPUZANO</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage9.jpg);"><img src="../../assets/img/banners/linkImage9.jpg" alt="Nombre imagen"></figure>
				<span>MUSEO <br>BOTERO</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage10.jpg);"><img src="../../assets/img/banners/linkImage10.jpg" alt="Nombre imagen"></figure>
				<span>CASA DE <br>MONEDA</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage11.jpg);"><img src="../../assets/img/banners/linkImage11.jpg" alt="Nombre imagen"></figure>
				<span>MUSEO <br>DE ARTE</span>
			</a>
		</div>
		<div class="linkImage medium-3 large-3 columns">
			<a href="#">
				<figure style="background-image:url(../../assets/img/banners/linkImage12.jpg);"><img src="../../assets/img/banners/linkImage12.jpg" alt="Nombre imagen"></figure>
				<span>SERVICIOS <br>EDUCATIVOS</span>
			</a>
		</div>
</div>
		<!--Fin Enlaces con imagen-->