<!--Slider Noticias 75%-->
		<section class="contCarousel columns large-8 ">
			<h2>Noticias</h2>
			<div class="gSlider75">
				<article>
					<figure style="background-image:url(../../assets/img/banners/carousel10.jpg);">
						<span class="date">23 | 10 | 2015</span>
						<a href="#"><img src="../../assets/img/banners/carousel10.jpg" alt="Nombre imagen"></a>
					</figure>
					<header>
						<span class="cate">CATEGORÍA DE LA NOTICIA</span>
						<h2><a href="#">Título de la historia lorem ipsum dolor sit</a></h2>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex, a scelerisque enim lorem in enim. Fusce eget rutrum metus. Aenean enim mauris...
						</div>
					</header>
				</article>
				<article>
					<figure style="background-image:url(../../assets/img/banners/carousel7.jpg);">
						<span class="date">23 | 10 | 2015</span>
						<a href="#"><img src="../../assets/img/banners/carousel7.jpg" alt="Nombre imagen"></a>
					</figure>
					<header>
						<span class="cate">CATEGORÍA DE LA NOTICIA</span>
						<h2><a href="#">Título de la historia lorem ipsum dolor sit</a></h2>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex, a scelerisque enim lorem in enim. Fusce eget rutrum metus. Aenean enim mauris...
						</div>
					</header>
				</article>
				<article>
					<figure style="background-image:url(../../assets/img/banners/carousel8.jpg);">
						<span class="date">23 | 10 | 2015</span>
						<a href="#"><img src="../../assets/img/banners/carousel8.jpg" alt="Nombre imagen"></a>
					</figure>
					<header>
						<span class="cate">CATEGORÍA DE LA NOTICIA</span>
						<h2><a href="#">Título de la historia lorem ipsum dolor sit</a></h2>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex, a scelerisque enim lorem in enim. Fusce eget rutrum metus. Aenean enim mauris...
						</div>
					</header>
				</article>
				<article>
					<figure style="background-image:url(../../assets/img/banners/carousel9.jpg);">
						<span class="date">23 | 10 | 2015</span>
						<a href="#"><img src="../../assets/img/banners/carousel9.jpg" alt="Nombre imagen"></a>
					</figure>
					<header>
						<span class="cate">CATEGORÍA DE LA NOTICIA</span>
						<h2><a href="#">Título de la historia lorem ipsum dolor sit</a></h2>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, mi vitae maximus maximus, sem est semper ex, a scelerisque enim lorem in enim. Fusce eget rutrum metus. Aenean enim mauris...
						</div>
					</header>
				</article>
			</div>
			<div class="contArrows">
				<span class="btnPrev">prev</span><div class="contPager"></div><span class="btnNext">next</span>
			</div>
		</section><!--Fin Slider Noticias 75%-->