<!--Menu seccion-->
<nav class="subMenu large-12">
	
	<div class="subContent large-12 ">
		<div class="large-8 columns"><h2 >Banrep Cultural <em>Banco de la República</em></h2></div>
		<div class="lFiltro large-4 columns">
			<select class="customSelect">
				<option>BOGOTÁ</option>
				<option>CALI</option>
				<option>MEDELLÍN</option>
				<option>ARMENIA</option>
				<option>PEREIRA</option>
				<option>MANIZALES</option>
				<option>IBAGUÉ</option>
			</select>
		</div>
	</div>
	<ul class="menu">
		<li><a href="#"><span>INFORMACIÓN GENERAL</span></a></li>
		<li><a href="#"><span>CONTACTOS</span></a></li>
		<li><a href="#"><span>LISTAS DE CORREO</span></a></li>
		<li><a href="#"><span>REDES SOCIALES</span></a></li>
		<li><a href="#"><span>PUBLICACIONES A LA VENTA</span></a></li>
		<li><a href="#"><span>PRENSA</span></a></li>
		<li><a href="#"><span>BLOG DE NOTICIAS</span></a></li>
	</ul>
</nav>
<!--Fin menu seccion-->