<footer> 
	 <div class="footer">
	  
	  
	  <div class="row">
		
			
			<div class="medium-1 small-12 columns logo_footer">
				<img src="assets/img/logo_footer.jpg">
		  	</div>
		  	<div class="medium-3 small-12 columns">
		  	
		  		<ul>
		  			<li><a href="#">Banco de la república</a></li>
		  			<li><a href="#">Acerca de BanrepCultural</a></li>
					<li><a href="#">Accesibilidad</a></li>
					<li><a href="#">Noticias</a></li>
					<li><a href="#">Sala de prensa</a></li>
					<li><a href="#">Ayuda</a></li>
					<li><a href="#">Descarga de Apps</a></li>
					<li><a href="#">Publicaciones</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Mapa del sitio</a></li>
		  		</ul>
		  		
		  		<div class="social">
					<ul>
						<li><a href="#"><i class="demo-icon icon-facebook"></i></a></li>
						<li><a href="#"><i class="demo-icon icon-youtube-play"></i></a></li>
						<li><a href="#"><i class="demo-icon icon-instagram"></i></a></li>
						<li><a href="#"><i class="demo-icon icon-twitter"></i></a></li>
					</ul>
				</div>
		  	
		  	</div>
		  	<div class="medium-1 small-12 columns hide-for-small-only">
				<div class="divisor"></div>
		  	</div>
		  	<div class="medium-7 small-12 columns hide-for-small-only">
		  	
		  		<div class="row">
		  			<div class="medium-6 small-12 columns">
		  				<h2>Derechos de autor</h2>
		  				Los contenidos están protegidos por los derechos de autor; para más detalles ver <a href="#">derechos de autor.</a><br><br> 
		  				
		  				<h2>Sistema de atención al ciudadano</h2>
		  				Si requiere realizar solicitudes de información, peticiones, quejas, reclamos, sugerencias, felicitaciones y denuncias podrá realizarlas por medio de los canales oficiales establecidos en el Sistema de Atención al Ciudadano – SAC del Banco, los cuales se presentan en la página web:  <a href="#">Mecanismos para la atención al ciudadano.</a>

		  			
					</div>
		  			<div class="medium-6 small-12 columns">
		  			
		  				<h2>Subgerencia Cultural del Banco de la República</h2>
		  				Bogotá<br>
Biblioteca Luis Ángel Arango<br>
Museos y colecciones del Banco de la República<br>
Calle 11 # 4 - 14, La Candelaria<br>
571 343 1224<br>
Fax 571 381 2908<br>
<a href="#">Horarios y oficinas</a><br><br>

La sección de Divulgación de la Subgerencia Cultural es la responsable del desarrollo y mantenimiento de mantenimiento de Banrepcultural.
		  			
					</div>
		  			
		  		</div>
		  		
		  		<div class="row links">
		  			<div class="medium-4 small-12 columns">
						<a href="#">Buzón de notificaciones judiciales </a>
					</div>
					<div class="medium-4 small-12 columns">
		  				<a href="#">Políticas de protección de datos </a>
					</div>
					<div class="medium-4 small-12 columns">
		  				<a href="#">Políticas de seguridad</a>
					</div>
				</div>
			
			
		  	</div>
		  	
		  	
		  	
		  	
	  </div> 
	  
	</div>
	
</footer>