<footer>
    <div class="footer">


        <div class="row">


            <div class="medium-1 small-12 columns logo_footer">
                <img src="assets/img/logo_footer.jpg">
            </div>
            <div class="medium-5 small-12 columns">

                <ul>
                    <li><a href="http://www.banrep.gov.co/">Banco de la república</a></li>
                </ul>

                <div class="social">
                    <ul>
                        <li><a href="#"><i class="demo-icon icon-facebook"></i></a></li>
                        <li><a href="#"><i class="demo-icon icon-youtube-play"></i></a></li>
                        <li><a href="#"><i class="demo-icon icon-instagram"></i></a></li>
                        <li><a href="#"><i class="demo-icon icon-twitter"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="medium-1 small-12 columns hide-for-small-only">
                <div class="divisor2"></div>
            </div>
            <div class="medium-5 small-12 columns hide-for-small-only">

                <div class="row">
                    <div class="small-12 columns">
                        <ul class="enlaces-prov">
                            <li>
                                <a href="http://www.banrep.gov.co/donde-estamos" target="_blank">Localización física y horarios de atención al público en el territorio nacional</a>
                            </li>
                            <li>
                                <a href="http://www.banrep.gov.co/atencion-ciudadano" target="_blank">Atención al ciudadano</a>
                            </li>
                            <li>
                                <a href="https://atencionalciudadano.banrep.gov.co/siac/ess.do" target="_blank">Formulario electrónico de solicitudes de información</a>
                            </li>
                            <li>
                                <a href="mailto:atencionalciudadano@banrep.gov.co" target="_blank">Contáctenos: atencionalciudadano@banrep.gov.co</a>
                            </li>
                            <li>
                                <a href="http://www.banrep.gov.co/notificaciones-judiciales" target="_blank">Buzón de notificaciones judiciales</a>
                            </li>
                            <li>
                                <a href="http://www.banrep.gov.co/aviso-legal" target="_blank">Aviso legal</a>
                            </li>
                            <li>
                                <a href="http://www.banrep.gov.co/proteccion-datos-personales" target="_blank">Políticas de protección de datos personales</a>
                            </li>
                            <li>
                                <a href="http://www.banrep.gov.co/politicas-de-seguridad-de-la-informacion" target="_blank">Políticas de seguridad de la información</a>
                            </li>

                        </ul>
                    </div>

                </div>


            </div>


        </div>

    </div>

</footer>