<header>
    <div class="top hide-for-small-only">
        <div class="row">
            <div class="large-12 columns">


                <div class="top-bar-right">
                    <ul>
                        <li><a href="#"><i class="demo-icon icon-facebook"></i></a></li>
                        <li><a href="#"><i class="demo-icon icon-youtube-play"></i></a></li>
                        <li><a href="#"><i class="demo-icon icon-instagram"></i></a></li>
                        <li><a href="#"><i class="demo-icon icon-twitter"></i></a></li>
                    </ul>
                </div>

            </div>





        </div>


    </div>

    <div class="row hide-for-small-only">
        <div class="medium-5 columns">
            <img src="{{root}}assets/img/logo.jpg" alt="company logo">
        </div>
        <div class="medium-7 columns">


        </div>
    </div>

</header>
