<div class="menu_principal hide-for-small-only">

	<div class="row">
		
		
		<div class="large-12 columns">
		<ul class="dropdown menu" data-dropdown-menu>
			  <li class="menu-text active"><a href="#" tabindex="-1"><i class="demo-icon icon-home"></i></a></li>
			  <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Centros culturales</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded">
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Armenia</a></li>
						<li><a href="#">Barranquilla</a></li>
						<li><a href="#">Bogotá</a></li>
						<li><a href="#">Bucaramanga</a></li>
						<li><a href="#">Buenaventura</a></li>
						<li><a href="#">Cali</a></li>
						<li><a href="#">Cartagena</a></li>
						<li><a href="#">Cúcuta</a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Florencia</a></li>
						<li><a href="#">Girardot</a></li>
						<li><a href="#">Honda</a></li>
						<li><a href="#">Ibagué</a></li>
						<li><a href="#">Ipiales</a></li>
						<li><a href="#">Leticia</a></li>
						<li><a href="#">Manizales</a></li>
						<li><a href="#">Medellín</a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Montería</a></li>
						<li><a href="#">Neiva</a></li>
						<li><a href="#">Pasto</a></li>
						<li><a href="#">Pereira</a></li>
						<li><a href="#">Popayán</a></li>
						<li><a href="#">Quibdó</a></li>
						<li><a href="#">Riohacha</a></li>
						<li><a href="#">San Andrés</a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Santa Marta</a></li>
						<li><a href="#">Sincelejo</a></li>
						<li><a href="#">Tunja</a></li>
						<li><a href="#">Valledupar</a></li>
						<li><a href="#">Villavicencio</a></li>
					  </ul>
					</div>
					<div class="column medium-4">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/casa_gomez.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Casa Gómez Campusano<br> <span>Bogotá</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/centro_leopoldo_lopez.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Centro Cultural Leopoldo López Álvarez<br> <span>pasto</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/casa_gomez.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Centro Cultural en San Andrés, Providencia y Santa Catalina<br> <span>SAN ANDRÉS</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  </ul>
					</div>
					
				  </div>

				</div>
			  </li>
			  <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Museos</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded">
					<div class="column medium-4">
					  <ul class="menu vertical">
						<li><a href="#">Museo del Oro Quimbaya<br><span>armenia</span></a></li>
						<li><a href="#">Museo del Oro Calima<br><span>cali</span></a></li>
						<li><a href="#">Museo Etnográfico<br><span>leticia</span></a></li>
						<li><a href="#">Museo del Oro Nariño<br><span>pasto</span></a></li>
						<li><a href="#">Museo del Oro Tairona<br><span>sincelejo</span></a></li>
					</div>
					<div class="column medium-4 left-collapse">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/museo_oro.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Museo del Oro<br> <span>Bogotá</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/museo_arte.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Museo de Arte Miguel Urrutia (MAMU)<br> <span>bogotá</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  </ul>
					</div>
					
					<div class="column medium-4 left-collapse">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/casa_moneda.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Casa de la Moneda<br> <span>Bogotá</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/museo_botero.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Museo Botero<br> <span>Bogotá</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/casa_republicana.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Casa Republicana<br> <span>Barranquilla</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  </ul>
					</div>
					
				  </div>

				</div>
			  </li>
			  <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Bibliotecas</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded">
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Armenia <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Barranquilla <i class="demo-icon icon-up-dir"></i></a></li>
						<li><a href="#">Bogotá</a></li>
						<li><a href="#">Bucaramanga <i class="demo-icon icon-up-dir"></i></a></li>
						<li><a href="#">Buenaventura</a></li>
						<li><a href="#">Cali <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Cartagena</a></li>
						<li><a href="#">Cúcuta <i class="demo-icon icon-dot"></i></a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Florencia</a></li>
						<li><a href="#">Girardot</a></li>
						<li><a href="#">Honda</a></li>
						<li><a href="#">Ibagué</a></li>
						<li><a href="#">Ipiales</a></li>
						<li><a href="#">Leticia</a></li>
						<li><a href="#">Manizales</a></li>
						<li><a href="#">Medellín <i class="demo-icon icon-dot"></i></a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Montería <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Neiva</a></li>
						<li><a href="#">Pasto</a></li>
						<li><a href="#">Pereira</a></li>
						<li><a href="#">Popayán</a></li>
						<li><a href="#">Quibdó</a></li>
						<li><a href="#">Riohacha</a></li>
						<li><a href="#">San Andrés</a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Santa Marta</a></li>
						<li><a href="#">Sincelejo</a></li>
						<li><a href="#">Tunja</a></li>
						<li><a href="#">Valledupar</a></li>
						<li><a href="#">Villavicencio <i class="demo-icon icon-up-dir"></i></a></li>
					  </ul>
					  <div class="tipos">
					  
					  	<h2>Tipos de centro</h2>
					  	<ul>
					  	
					  		
					  		<li class="documentacion"><a href="#">Documentación regional</a></li>
							<li class="referencia"><a href="#">Referencia remota</a></li>
					  		
					  	
						</ul>
					  	
					  </div>
					</div>
					<div class="column medium-4">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/biblioteca_luis_angel_arango.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Biblioteca Luis Ángel Arango<br> <span>Bogotá</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/biblioteca_banco_republica.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Biblioteca del Banco de la República<br> <span>Neiva</span></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  
					  	
					  </ul>
					</div>
					
				  </div>

				</div>
			  </li>
			  <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Actividad musical</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded">
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Armenia <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Barranquilla <i class="demo-icon icon-up-dir"></i></a></li>
						<li><a href="#">Bogotá</a></li>
						<li><a href="#">Bucaramanga <i class="demo-icon icon-up-dir"></i></a></li>
						<li><a href="#">Buenaventura</a></li>
						<li><a href="#">Cali <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Cartagena</a></li>
						<li><a href="#">Cúcuta <i class="demo-icon icon-dot"></i></a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Florencia</a></li>
						<li><a href="#">Girardot</a></li>
						<li><a href="#">Honda</a></li>
						<li><a href="#">Ibagué</a></li>
						<li><a href="#">Ipiales</a></li>
						<li><a href="#">Leticia</a></li>
						<li><a href="#">Manizales</a></li>
						<li><a href="#">Medellín <i class="demo-icon icon-dot"></i></a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Montería <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Neiva</a></li>
						<li><a href="#">Pasto</a></li>
						<li><a href="#">Pereira</a></li>
						<li><a href="#">Popayán</a></li>
						<li><a href="#">Quibdó</a></li>
						<li><a href="#">Riohacha</a></li>
						<li><a href="#">San Andrés</a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Santa Marta</a></li>
						<li><a href="#">Sincelejo</a></li>
						<li><a href="#">Tunja</a></li>
						<li><a href="#">Valledupar</a></li>
						<li><a href="#">Villavicencio <i class="demo-icon icon-up-dir"></i></a></li>
					  </ul>
					  <div class="tipos">
					  
					  	<h2>Tipos de centro</h2>
					  	<ul>
					  	
					  		
					  		<li class="documentacion"><a href="#">Documentación regional</a></li>
							<li class="referencia"><a href="#">Referencia remota</a></li>
					  		
					  	
						</ul>
					  	
					  </div>
					</div>
					<div class="column medium-4">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/sala_conciertos.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Sala de conciertos</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  
					  
					  	
					  </ul>
					</div>
					
				  </div>

				</div>
			  </li>
			   
			 <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Colecciones</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded">
					<div class="column medium-3 min-padding">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/bibliotecas.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Red de Bibliotecas (Catálogo)</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/virtual.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Biblioteca Virtual</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  </ul>
					</div>
					<div class="column medium-3 min-padding">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/arqueologica.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Arqueológica</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/musical.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Musical<br></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  </ul>
					</div>
					
					<div class="column medium-3 min-padding">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/arte.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Arte</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/economia.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Económica y financiera</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	
					  </ul>
					</div>
					
					<div class="column medium-3 min-padding">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/estampillas.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Estampillas (Filátelica)</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/billetes.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Billetes y monedas 
(Numismática)</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	
					  </ul>
					</div>
					
				  </div>

				</div>
			  </li>
			   <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Proyectos</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded">
					<div class="column medium-4 ">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/proyecto1.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Custodia de la iglesia de San Ignacio de Bogotá
“La Lechuga”</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  
					  	
					  </ul>
					</div>
					<div class="column medium-4 left-collapse">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/proyecto2.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Exposición Agua: un patrimonio que circula de mano en mano</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/proyecto3.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>La paz se toma la palabra<br></h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  </ul>
					</div>
					
					<div class="column medium-4 left-collapse">
					  <ul class="destacados">
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/proyecto4.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Muerte Barroca: Retratos de Monjas Coronadas</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	<li><a href="#">
					  	<img src="{{root}}assets/img/proyecto5.jpg" alt="destacado">
					  	<div class="info_destacado">
							<h2>Año Colombia-Francia 2017</h2>
					  	</div>
					  	
					  	</a>
					  	</li>
					  	
					  	
					  </ul>
					</div>
					
					
				  </div>

				</div>
			  </li>
			  <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Servicios</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded servicios">
					<div class="column medium-3 medium-offset-2 punteado">
				  	<h2><i class="demo-icon icon-publicos"></i>Por públicos</h2>
					  <ul class="menu vertical">
						<li><a href="#">Todos los servicios</a></li>
						<li><a href="#">Niños</a></li>
						<li><a href="#">Maestros</a></li>
						<li><a href="#">Condición de discapacidad</a></li>
						<li><a href="#">Investigadores</a></li>
						<li><a href="#">Adultos mayores</a></li>
						<li><a href="#">VER TODOS</a></li>
					  </ul>
					</div>
					<div class="column medium-3 punteado">
				  	  <h2><i class="demo-icon icon-generalidades"></i>generales</h2>
					  <ul class="menu vertical">
						<li><a href="#">Venta de publicaciones</a></li>
						<li><a href="#">Wifi</a></li>
						<li><a href="#">Parqueaderos</a></li>
						<li><a href="#">Tienda</a></li>
						<li><a href="#">Cafetería</a></li>
						<li><a href="#">Baños accesibles</a></li>
						<li><a href="#">VER TODOS</a></li>
					  </ul>
					</div>
					<div class="column medium-3 end">
				  	  <h2><i class="demo-icon icon-brush"></i>culturales</h2>
					  <ul class="menu vertical">
						<li><a href="#">Formación de nuestros públicos</a></li>
						<li><a href="#">Exposiciones</a></li>
						<li><a href="#">Conciertos</a></li>
						<li><a href="#">Herramientas de aprendizaje</a></li>
						<li><a href="#">Auto aprendizaje</a></li>
						<li><a href="#">Convocatorias</a></li>
						<li><a href="#">VER TODOS</a></li>
					  </ul>
					</div>
					
					
					
				  </div>

				</div>
			  </li>
			   
			   <li class="mega-menu">
				<a data-toggle="mega-menu" href="#">Actividadades</a>

				<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:1">

				  <div class="row expanded">
					<div class="column medium-2 medium-offset-2">
					  <ul class="menu vertical">
						<li><a href="#">Armenia <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Barranquilla <i class="demo-icon icon-up-dir"></i></a></li>
						<li><a href="#">Bogotá</a></li>
						<li><a href="#">Bucaramanga <i class="demo-icon icon-up-dir"></i></a></li>
						<li><a href="#">Buenaventura</a></li>
						<li><a href="#">Cali <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Cartagena</a></li>
						<li><a href="#">Cúcuta <i class="demo-icon icon-dot"></i></a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Florencia</a></li>
						<li><a href="#">Girardot</a></li>
						<li><a href="#">Honda</a></li>
						<li><a href="#">Ibagué</a></li>
						<li><a href="#">Ipiales</a></li>
						<li><a href="#">Leticia</a></li>
						<li><a href="#">Manizales</a></li>
						<li><a href="#">Medellín <i class="demo-icon icon-dot"></i></a></li>
					  </ul>
					</div>
					<div class="column medium-2">
					  <ul class="menu vertical">
						<li><a href="#">Montería <i class="demo-icon icon-dot"></i></a></li>
						<li><a href="#">Neiva</a></li>
						<li><a href="#">Pasto</a></li>
						<li><a href="#">Pereira</a></li>
						<li><a href="#">Popayán</a></li>
						<li><a href="#">Quibdó</a></li>
						<li><a href="#">Riohacha</a></li>
						<li><a href="#">San Andrés</a></li>
					  </ul>
					</div>
					<div class="column medium-2 end">
					  <ul class="menu vertical">
						<li><a href="#">Santa Marta</a></li>
						<li><a href="#">Sincelejo</a></li>
						<li><a href="#">Tunja</a></li>
						<li><a href="#">Valledupar</a></li>
						<li><a href="#">Villavicencio <i class="demo-icon icon-up-dir"></i></a></li>
					  </ul>
					  <div class="tipos">
					  
					  	<h2>Tipos de centro</h2>
					  	<ul>
					  	
					  		
					  		<li class="documentacion"><a href="#">Documentación regional</a></li>
							<li class="referencia"><a href="#">Referencia remota</a></li>
					  		
					  	
						</ul>
					  	
					  </div>
					</div>
					
					
				  </div>

				</div>
			  </li>
			  <li><a href="#"><i class="demo-icon icon-search"></i></a></li>
  		</ul>
 	</div>
	
	</div>


</div>