<div class="fullscreen-image-slider ">
    <div class="orbit" role="region" aria-label="FullScreen Pictures" data-orbit
         data-options="animInFromLeft:scale-in-down; animInFromRight:scale-in-down; animOutToLeft:scale-in-up; animOutToRight:scale-in-up;">
        <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <img class="orbit-image" src="{{root}}assets/img/centros.jpg" alt="Space">

                <figcaption class="orbit-caption">
                    <div class="row">
                        <div class="medium-6 columns end">
                            <h1>Bogotá<br>
                                Casa Gómez Campuzano</h1>

                            <div class="line"></div>
                            <div class="hide-for-small-only">En el año 2000, el Banco de la República recibió en
                                comodato la colección del pintor bogotano Ricardo Gómez Campuzano (1891-1981), uno
                                de los artistas más representativos del arte colombiano de inicios del siglo XX.
                                Esta colección reúne más de 400 obras del artista y se constituye en una importante
                                muestra de su extensa carrera como pintor.
                            </div>
                            <a href="#" class="read-more show-for-small-only">Conoce el proyecto <i
                                    class="demo-icon icon-right"></i></a>
                        </div>
                    </div>
                </figcaption>

            </li>
            <li class="is-active orbit-slide">
                <img class="orbit-image" src="{{root}}assets/img/centros.jpg" alt="Space">

                <figcaption class="orbit-caption">
                    <div class="row">
                        <div class="medium-6 columns end">
                            <h1>Bogotá<br>
                                Casa Gómez Campuzano</h1>

                            <div class="line"></div>
                            <div class="hide-for-small-only">En el año 2000, el Banco de la República recibió en
                                comodato la colección del pintor bogotano Ricardo Gómez Campuzano (1891-1981), uno
                                de los artistas más representativos del arte colombiano de inicios del siglo XX.
                                Esta colección reúne más de 400 obras del artista y se constituye en una importante
                                muestra de su extensa carrera como pintor.
                            </div>
                            <a href="#" class="read-more show-for-small-only">Conoce el proyecto <i
                                    class="demo-icon icon-right"></i></a>
                        </div>
                    </div>
                </figcaption>

            </li>
            <li class="is-active orbit-slide">
                <img class="orbit-image" src="{{root}}assets/img/centros.jpg" alt="Space">

                <figcaption class="orbit-caption">
                    <div class="row">
                        <div class="medium-6 columns end">
                            <h1>Bogotá<br>
                                Casa Gómez Campuzano</h1>

                            <div class="line"></div>
                            <div class="hide-for-small-only">En el año 2000, el Banco de la República recibió en
                                comodato la colección del pintor bogotano Ricardo Gómez Campuzano (1891-1981), uno
                                de los artistas más representativos del arte colombiano de inicios del siglo XX.
                                Esta colección reúne más de 400 obras del artista y se constituye en una importante
                                muestra de su extensa carrera como pintor.
                            </div>
                            <a href="#" class="read-more show-for-small-only">Conoce el proyecto <i
                                    class="demo-icon icon-right"></i></a>
                        </div>
                    </div>
                </figcaption>

            </li>
            <li class="is-active orbit-slide">
                <img class="orbit-image" src="{{root}}assets/img/centros.jpg" alt="Space">

                <figcaption class="orbit-caption">
                    <div class="row">
                        <div class="medium-6 columns end">
                            <h1>Bogotá<br>
                                Casa Gómez Campuzano</h1>

                            <div class="line"></div>
                            <div class="hide-for-small-only">En el año 2000, el Banco de la República recibió en
                                comodato la colección del pintor bogotano Ricardo Gómez Campuzano (1891-1981), uno
                                de los artistas más representativos del arte colombiano de inicios del siglo XX.
                                Esta colección reúne más de 400 obras del artista y se constituye en una importante
                                muestra de su extensa carrera como pintor.
                            </div>
                            <a href="#" class="read-more show-for-small-only">Conoce el proyecto <i
                                    class="demo-icon icon-right"></i></a>
                        </div>
                    </div>
                </figcaption>

            </li>

        </ul>

        <div class="row paginador">

            <div class="medium-12 columns">
                <nav class="orbit-bullets">
                    <button class="is-active" data-slide="0"><span
                            class="show-for-sr">First slide details.</span><span
                            class="show-for-sr">Current Slide</span></button>
                    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                </nav>
            </div>

        </div>


    </div>
</div>