<!DOCTYPE HTML>
<html ng-app="blaaApp" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Banco de la República</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="assets/img/favicon.ico" rel="shortcut icon">
  </head>
  <base href="/"/>
  <body>
    <div id="mainWrapper">
      {{> header }}
      <!--Contenido-->
      <div class="mainContent row" >
        {{> body}}
      </div>
      <!-- Fin contenido-->
      {{>footer}}
    </div>
  </body>
  <script src="/assets/js/app.js"></script>
  <script type="text/javascript">
  setTimeout(function () {
    $(document).foundation()
  }, 2000);
  </script>
</html>
