<!--Banner principal-->
<section class="contBanner large-12" ng-controller="BannerPrincipalController">
	<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="fh9ekq-orbit" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <ul class="orbit-container">
			<button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
			<button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
			<li class="orbit-slide" ng-repeat=" banner in banners">
				<div class="sliderBig">
					<article class="" >
						<figure class="large-12"  class="large-12" style="background-image:url(\{{ banner['Imagen']['src'] }});">
							<img src="" alt="Nombre imagen">
						</figure>
						<header>
							<div>
								<h2>\{{ banner['title'] }}</h2>
								<p>\{{ banner['Subtítulo'] }}</p>
								<a href="#" class="btnMore">ver más</a>
							</div>
						</header>
					</article>
				</div>
			</li>
        </ul>
        <nav class="orbit-bullets contPager">
			<span class="is-active cycle-pager-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></span>
			<span data-slide="1"><span class="show-for-sr">Second slide details.</span></span>
       	</nav>
  	</div>
</section>
<!--Fin Banner principal-->
