<!-- data
article['Nid']
article['title']
article['Contenido']
article['Imagen']['src'] 
 -->
<!--Slider noticias-->
<section class="contCarousel large-12" ng-controller ="NoticiasController">
	<h2>Noticias</h2>
	<div class="gCarousel large-12">
		<article ng-repeat="article in articles" >
			<figure style="background-image:url(' \{{ article['Imagen']['src'] }}');">
				<span class="date">23 | 10 | 2015</span>
				<a href="#"><img src="  " alt="Nombre imagen"></a>
			</figure>
			<header>
				<span class="cate">CATEGORÍA DE LA NOTICIA</span>
				<h2><a href="#">\{{ article['title'] }}</a></h2>
				<div class="desc">
					\{{ article['Contenido'] }}
				</div>
			</header>
		</article>
	</div>
	<div class="contArrows">
		<span class="btnPrev">prev</span><div class="contPager"></div><span class="btnNext">next</span>
	</div>
</section><!--Fin Slider noticias-->