<!--Menu seccion-->
<nav class="subMenu large-12" ng-controller="MenuController" ng-class="menu[path].style">
	<div class="subContent large-12">
		<div class="large-8 columns">
			<h2>
				<span ng-bind-html="menu[path].title"></span>
				<em>\{{ menu[path].subtitle }}</em>
			</h2>
		</div>
		<div class="lFiltro large-4 columns">
			<!--<select class="customSelect" style="display:block!important" ng-model='sucursal' ng-change="onChangeCiudad()" >
				<option>Bogotá</option>
				<option ng-repeat="sucursal in sucursales"  value="\{{sucursal.node.title}}" >\{{sucursal.node.title}}</option>
			</select>-->
		</div>
	</div>
	<ul class="menu">
		<li ng-repeat="(url,suboption) in menu[path].options">
			<a ui-sref="\{{ suboption.url }}">
				<span ng-bind-html="suboption.label"></span>
			</a>
			<ul ng-if="suboption.menu">
				<li ng-repeat="submenuoption in suboption.menu">
					<a href="\{{ submenuoption.url }}">
						<span ng-bind-html="submenuoption.label"></span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
<!--Fin menu seccion-->
